body {
    background-color: var( --color-black-primary);
    color: var( --color-white);

    font-family: sans-serif; 
}

.navebar, .library {
    background-color: var( --color-black-100);
    width: 310px;
    padding: 16px;
    
    margin-left: 16px;
    margin-top: 16px;

    position: absolute;

    border-radius: 2px;
}

.navebar .navebar__img {
    max-width: 150px;
    margin-bottom: 24px;
}

.navebar .navebar__list li:first-child {
    margin-bottom: 12px;
}

.library {
    top: 180px;
    display: flex;
    flex-direction: column;
}

.library__header {
    padding-right: 8px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.library__header h2{
    font-size: medium;
}

.library__header h2 > span {
    margin-right: 8px;
}

.library__playlist {
    background-color: var( --color-black-200);
    padding: 16px 24px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.library__playlist h2{
    font-size: larger;
}

.library__playlist button {
    padding: 8px;
    margin-top: 16px;
    max-width: 150px;

    background-color: var(--color-white);
    color: var( --color-black-100);
    font-weight: 900;

    border: none;
    border-radius: 16px;
}

.library__language {
    display: flex;
    flex-direction: column;
}

.library__language span {
    padding: 16px 0;
}

.library__language button {
    max-width: 200px;
    padding: 8px;
    max-width: 200px;

    background-color: var( --color-black-100);
    border: 2px solid var( --color-white);
    border-radius: 16px;
}

.footer {
    background-image: var(--color-gradient);

    padding: 16px;
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-text h2, .footer-text p{
    font-size: 12px;
}

.footer button {
    padding: 8px;
    max-width: 150px;

    font-size: 12px;

    background-color: var( --color-white);
    color: var( --color-black-100);
    font-weight: 900;

    border: none;
    border-radius: 16px;
}