:root {
    --color-white: #fff;

    --color-balck-primary: #000;
    --color-black-100: #101010;
    --color-black-200: #252525;

    --color-gradient: linear-gradient(to right, rgb(202, 91, 109), rgb(23, 165, 201));
}